@import './theme.css';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-primary);
  font-size: var(--font-size-body);
  line-height: var(--line-height-normal);
  letter-spacing: var(--letter-spacing-body);
  color: var(--text-primary);
  background-color: var(--bg-secondary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: var(--font-mono);
}
